body {
  background-color: #794c13;
  color: #FE4261;
  margin-left: 3rem;
  margin-right: 3rem;
  line-height: 1.9rem;
  background-image: url(../image/pastel_00078.jpg);
  color: #000;
  font-family:  "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 36px;
  text-align: center;
  background-color: #00008b;
  color: #fff;
  border-radius: 15px;
}

h2 {
  font-size: 28px;
  color: #000000;
  border-bottom: solid 1px #cc0000;
}

h3 {
  font-size: 20px;
  padding-left: 4px;
  border-left: solid 4px #cc0000;
}

ul {
  list-style: none;
  padding: 0;
}

table {
  background-color: #fff; 
}

table th {
  font-size: larger;
}

#schedule {
  padding: 10px 20px 10px 20px;
  background-image: url(../image/white_00080.jpg);
}

.iniad {
  color: #ffa500;
}

.time {
  font-weight: bold;
  color: #cc0000;
  font-size: 30px;
}

.image {
  width: 240px;
  height: 135.2px;
  float: right;
  display: block;
  margin: 0 850px 0 0;
}

.image2 {
  width: 135px;
  height: 114.9px;
  float: right;
  display: block;
  margin: 0 900px 0 0;
}

.concept {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  border: 1px;
  background: #1e90ff;
  color: #fff;
  box-shadow: 0px 2px 4px #575;
  border-radius: 25% 10%;
  animation: poyopoyo 2s ease-out infinite;
  opacity: 1;
}

.course {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  border: 1px;
  background: #1e90ff;
  color: #fff;
  box-shadow: 0px 2px 4px #575;
  border-radius: 25% 10%;
  animation: poyopoyo 2s ease-out infinite;
  opacity: 1;
}

@keyframes poyopoyo {
  0%, 40%, 60%, 80% {
    transform: scale(1.0);
  }
  50%, 70% {
    transform: scale(0.95);
  }
}